body {
  background-image: url(../img/pokemon-go-pokeball-mobile-wallpaper-minimalist-3072x4096-e1471571049571.jpg);
  background-size: cover;
  background-position: -65% 35%;
  background-repeat: no-repeat;
}

h2 {
  color: #fff;
}

h3 {
  margin-top: -20%;
}

img {
  width: 100%;
  height: auto;
}

.pokeContainer {
  margin-left: 3%;
}

@media only screen and (max-width: 700px) {
  body {
    background-position: center top;
    background-size: 120%;
  }
  .pokeContainer {
    margin-top: 30%;
  }
}